.recoverPass {
  height: 100vh;
}

.recoverPassCompo {
  height: 100%;
  flex: 1;
}

.recoverPassForm h2 {
  color: var(--color-primary);
}

.recoverPassForm span {
  color: var(--color-light-text);
}

.recoverPassBackButton {
  height: 40px !important;
  width: 40px !important;
}

.recoverPassFormCompo span {
  font-size: 12px;
}

.passwordInput {
  border-right: 0 !important;
}

.recoverPassHeader h4 {
  color: var(--color-primary);
  cursor: pointer;
}

.otpContainer {
  width: 100% !important;
  justify-content: space-between;
}

.otpInput {
  height: 40px !important;
  width: 40px !important;
  border: 1px solid var(--input-border);
  color: var(--input-color);
  background-color: var(--input-background);
}

.forgotPassLang {
  border: 1px solid var(--input-border) !important;
  color: var(--input-color) !important;
  background-color: var(--input-background) !important;
  height: 48px !important;
  width: 100px !important;
}

@media only screen and (max-width: 768px) {
  .recoverPassForm {
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .recoverPassForm {
    width: 75% !important;
  }
}
