.privacyPolicy {
  min-height: 100vh;
}

.policiesList div > span:hover {
  color: var(--color-background);
  font-weight: 600;
}

.policyDesc h5 {
  color: var(--color-primary);
}

.policyDesc p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-light-text);
  text-align: justify;
}

.privacyPolicyHeader {
  height: 300px;
  background-color: var(--color-background);
  color: var(--color-text);
}

.privacyPolicyHeader h1 {
  font-size: 60px !important;
}

@media only screen and (max-width: 600px) {
  .privacyPolicyHeader h1 {
    font-size: 40px !important;
  }
}
