.faqs {
  min-height: 100vh;
}

.faqHeader {
  height: 300px;
  color: var(--color-primary);
}

.faqHeader h1 {
  font-size: 60px !important;
}

@media only screen and (max-width: 600px) {
  .faqHeader h1 {
    font-size: 40px !important;
  }
}
