.mainHeader {
  height: 6rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  font-weight: bold;
  background-color: var(--color-light-background);
  color: var(--color-primary);
}

.navLinks,
.navLinks-sm {
  cursor: pointer;
}

#activePath {
  color: var(--color-secondary);
}

.navLinks:hover,
.navLinks-sm:hover,
.navFeatures:hover,
.navFeatures.navFeatures-sm:hover {
  color: var(--color-secondary) !important;
}
.navFeatures:hover,
.navFeatures.navFeatures-sm:hover {
  background: none !important;
}
.headerIcon {
  color: var(--color-primary) !important;
}

.headerAvatar {
  background-color: var(--header-backgroud) !important;
  border-radius: 0.5rem !important;
}

.header-sm {
  position: fixed;
  z-index: 10;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    150deg,
    #1d2838 35%,
    rgba(21, 29, 41, 0.75)
  );
  color: #ffffff;
  opacity: 0.98;
}

.header-hr {
  background-color: rgb(11, 75, 142);
}

.headerLogin div,
.headerLogo h4 {
  cursor: pointer;
}
.navLinks-sm {
  height: 2.5rem;
}

.headerBtn {
  background: #4a90e2 !important;
}

.userProfile span {
  font-size: 14px;
  font-weight: 600;
  color: var(---color-text);
}
.MuiButtonBase-root .userProfile p {
  font-size: 13px;
  color: var(--color-light-text);
  text-transform: none !important;
}

.navFeatures {
  color: var(--color-primary) !important;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.navFeatures.navFeatures-sm {
  color: #ffffff !important;
  margin-bottom: 0.8rem !important;
}

.langbtn {
  color: var(--color-primary) !important;
}
