.chatbot {
  min-height: 100vh;
}

.draftHistoryCompo {
  height: 100vh;
  background-color: var(--history-background);
  overflow-y: auto;
}

.historyContent {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.historyContent span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.historyContent:hover {
  background-color: var(--history-hover);
  color: var(--color-primary);
}

.chatbotCompo::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

.chatbotCompo {
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.react-typewriter-text-wrap h1 {
  font-size: 13px !important;
  color: #ffffff;
  white-space: pre-line;
}

.questionCompo {
  background: linear-gradient(45deg, var(--color-primary), var(--color-accent));
  color: var(--color-light-background);
  border-radius: 0.75rem;
  border-bottom-right-radius: 0;
  width: fit-content;
  text-align: justify;
  font-size: 14px;
}

.answerCompo {
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  color: var(--color-light-background);
  border-radius: 0.75rem;
  border-bottom-left-radius: 0;
  width: fit-content;
  text-align: justify;
  font-size: 14px;
  white-space: pre-wrap;
}

.chatbotFollowup {
  margin-top: auto;
}

.historyHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  font-weight: bold;
  background-color: var(--color-light-background);
}

.mdHistoryBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: var(--history-background);
  padding: 2rem 0.5rem 1rem 0.5rem;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1000;
  overflow-y: auto;
}

.historyIcon {
  color: #b4b4b4 !important;
}
